.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100vw;
  background: transparent;
    grid-area: c;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
     width: 100%;
     max-width: 800px;
     height: auto;
     margin: 0 auto;
     box-shadow: 0 2px 16px rgba(0,0,0,0.08);
     background: #222;
     border-radius: 12px;
    padding: 2rem 2.5rem;
}

/* Asegura que label e input ocupen una columna */
.formulario label,
.formulario input {
    width: 100%;
}

/* Elementos que deben ocupar ambas columnas */

.formulario button {
    grid-column: 1 / -1;
}