.menu {
  padding: 1rem;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
<<<<<<< HEAD
=======
  flex-direction: row;
>>>>>>> 3fc0a743df8bde74a968eba0e1a599ea3e50a833
  gap: 1rem;
}
.menu a {
  text-decoration: none;
  color: inherit;    /* now inherits the nav’s color */
}
