.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left;
    grid-area: a;
}

.topbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  padding: 1rem;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.menu a {
  text-decoration: none;
  color: inherit;    /* now inherits the nav’s color */
}